%h2
  My Characters

= form_for 'character', html: { multipart: true } do |f|

  %div
    = f.label :character_sheet, "Upload a new character"
  %div
    = f.file_field :character_sheet

  %div
    = f.submit "Upload character"

.characters
  - characters.each do |character|
    = link_to character.name, character_path(character)
